<div class="container">
  <h1>All Students</h1>

  <div class="list-group">
    <% @students.each do |student| %>
    <%= link_to "#{student.name}", student_path(student), class: "list-group-item" %>
    <% end %>
  </div>

</div>
