<div class="container">
  <h1>Information</h1>

  <h3>Enrollment counts are as follows:</h3>
  <table class="table table-bordered table-condensed table-hover">
    <% @courses.each do |course| %>
    <tr>
      <td><%= course.students.count %></td>
      <td><%= course.name %></td>
    </tr>
    <% end %>
  </table>

  <h3>Average grades are:</h3>
    <table class="table table-bordered table-condensed table-hover">
    <% @courses.each do |course| %>
    <tr>
      <td><%= course.average_grade(course.id) %></td>
      <td><%= course.name %></td>
    </tr>

    <% end %>
  </table>


</div>
