<h1>Welcome to Gradebook</h1>

<div class="btn btn-default">
  <%= link_to 'Teachers', teachers_path %>
</div>

<div class="btn btn-default">
  <%= link_to 'Students', students_path %>
</div>

<div class="btn btn-default">
  <%= link_to 'Admin Info', information_path %>
</div>
