<div class="container">
  <h1>All Teachers</h1>

  <div class="list-group">
    <% @teachers.each do |teacher| %>
    <%= link_to "#{teacher.name}", teacher_path(teacher), class: "list-group-item" %>
    <% end %>
  </div>

</div>
