<div class="container">
  <h1><%= @teacher.name %></h1>

  <div class="list-group">
    <% @teacher.courses.each do |course| %>
      <%= link_to course.name, teacher_course_path(@teacher.id, course.id), class: 'list-group-item' %>
      <% end %>
  </div>

  <div class="btn btn-default">
    <%= link_to "Manage the courses of #{@teacher.name}", teacher_courses_path(@teacher) %>
  </div>

  <div class="btn btn-default">
    <%= link_to "Return to Teachers", teachers_path %>
  </div>

</div>
