<div class="container">

  <h1>Add a new course:</h1>

  <%= form_for [:teacher, @course] do |f| %>

  <%= f.label :name, "Course Name" %>
  <%= f.text_field :name %>

  <%= f.submit "Submit" %>

  <% end %>
</div>
