<% @course.students.each do |student| %>

<table class='table'>
  <tr>
    <th>Name</th>
    <th>Grade</th>
  </tr>
  <tr>
    <td><%= student.name %></td>
    <td>Smith</td>
  </tr>
</table>


<% end %>
