<div class="container">
  <h1><%= @course.name %></h1>

  <% @course.students.each do |student| %>

  <table class='table table-bordered'>
    <tr>
      <th>Name</th>
      <th>Grade</th>
    </tr>
    <tr>
      <td><%= student.name %></td>
      <td><%= student.get_student_grade(student.id, @course.id) %></td>
    </tr>
  </table>

  <% end %>

  <div class="btn btn-default">
    <%= link_to "Return to #{@teacher.name}", teacher_path(@teacher) %>
  </div>

</div>
