<h1><%= @course.name %></h1>

<% @course.students.each do |student| %>

<table class='table'>
  <tr>
    <th>Name</th>
    <th>Grade</th>
  </tr>
  <tr>
    <td><%= student.name %></td>
    <td><%= student.get_student_grade(student.id, @course.id) %></td>
  </tr>
</table>

<% end %>

<%= link_to 'Home', root_path %>
